 /* Google Fonts - Poppins */
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


 .jumbotron-image{
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
    width: 100%;
    position: relative;
    z-index: 0;
}

.pt-3, .py-5 {
    padding-top: 3rem!important;
}

/* about */
#row1 #card1 img{
    width: 420px;
    height: 420px;
    border-radius: 10%;
   
    box-shadow: 0 0 10px rgba(56, 36, 236, 0.5);
}
#row1{
    display: flex;
    /* even space btwn */
    justify-content: space-evenly;
}
#row3{
    padding-top: 30px;
}
    
        /* My portifolio */

        #portfolio{
            padding: 50px 0;
        }
        .work-list {
            align-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
        grid-gap: 40px;
        margin-top: 40px;
        margin-left: 30px;
        padding-left: 50px;
        }
        .work{
            border-radius: 10px;
            position: relative;
            overflow: hidden;  
            color: #fff;
         
        }
        .work img{
            width: 100%;
            border-radius: 40px;
           transition: transform 0.5s;
        }
        .layer{
            width: 100%;
            height: 0%;
            background: linear-gradient(rgba(0,0,0,0.6) , #5e7af3);
            border-radius: 15px;
            position: absolute;
            bottom: 0;
            left: 0;
            overflow: hidden;
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0 40px;
            text-align: center;
        }
        .layerh3 {
            font-weight: bold;
            margin-bottom: 15px;
        
        }
        .sub-title{
           text-align: center;
        }
        .layer a{
            margin-top: 20px;
            color: #416c7c;
            text-decoration: none;
            font-size: 18px;
            line-height: 60px;
            background: #ffffff;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            text-align: center;
            transition: 0.5s;
        }
        .work:hover img{
            transform: scale(1.1);
        }
        .work:hover .layer{
            height:100%
        }
        .btn{
            display:block;
            margin: 50px auto;
            width: fit-content;
            border: 1px solid #F1B24A;
            padding: 14px 50px;
            border-radius: 7px;
            text-decoration: none;
            color: #fff;
            transition: background 0.5s;
        
        }
        .btn:hover {
            background: #4a71f1;
            
        }
/* testimonies */
.testimonials{
	min-height: 100vh;
	background: #ffffff;
	float: left;
	width: 100%;
	padding:100px px;
    margin-top: 0px;
    text-align: center;
}
.testimonials h3 {
    
    text-align: center;
}

.testimonials h2 {
 float: none;
   
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 30px;
}

.container{
	max-width: 1170px;
	margin: auto;
}

.testimonials .title{
	margin-bottom:60px;
  margin-top: 20px;
}

.testimonials .title h1{
	text-align: center;
	color:rgb(0, 0, 0);
	font-size: 36px;
	margin:0;
}

.testimonials .slider{
	border:1px solid #7e8bb6;
	max-width: 600px;
	margin: auto;
	text-align: center;
	padding:30px;
	background-color: #081131;
	border-radius: 50px;
   }

   .testimonials .slider-indicator{
	text-align: center;
	padding-bottom:30px;
}

.testimonials .slider-indicator img{
	max-height:80px;
	max-width:80px;
	border-radius:50% 0% 50% 0%;
	display: inline-block;
	margin:0 8px;
	opacity:0.2;
	border:4px solid rgb(45, 41, 41);
	cursor: pointer;
	transition: opacity 1s ease;
}

.testimonials .slider-indicator img.active{
	opacity:1;
}

.testimonials .slider p{
	font-size:18px;
	color:#fff;
	word-spacing: 2px;
}

.testimonials .slider .client-info h3{
	font-weight: bold;
	color:#0059f7;
	font-size:18px;
	margin:30px 0 10px;
}

.testimonials .slider .client-info span{
	display: block;
	font-size:16px;
	color:#f1f3f2;
}

.testimonials .slider .slide{
	display: none;
}

.testimonials .slider .slide.active{
	display: block;
	animation: slide 1s ease;
}

@keyframes slide{
	0%{
		opacity: 0;
		transform: translateX(-15px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px)
	}
}


/* footer */
footer{
  
   margin-top: 20px;
    width: 100%;
 position: absolute;
    bottom:130;
  left: 0;
  right: 0;
 

    background: #081131;
  }
  footer .content{

    max-width: 1350px;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .content p,a{
    color: #fff;
  }
  footer .content .box{
    width: 33%;
    transition: all 0.4s ease;
  }
  footer .content .topic{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 5px;
  
  }
  footer .content p{
    text-align: justify;
  }
  footer .content .lower .topic{
    margin: 24px 0 5px 0;
  }
  footer .content .lower i{
    padding-right: 16px;
  }
  footer .content .middle{
    padding-left: 80px;
  }
  footer .content .middle a{
    line-height: 32px;
  }
#messo {
    margin-top: 10px;
    padding-top: 10px;
    height: 95px;
    width: 100%;
    outline: none;
    color: #d9d9d9;
    background: #081131;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #ffffff;  
}
  footer .content .right input[type="text"]{
    height: 45px;
    width: 100%;
    outline: none;
    color: #d9d9d9;
    background: #081131;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #ffffff;
  }

  
 
  footer .content .media-icons a{
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #222222;
    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
  }
  .content .media-icons a:hover{
    border-color: #ffffff;
  }
  footer .bottom{
    width: 100%;
    text-align: center;
    color: #d9d9d9;
    padding: 0 40px 5px 0;
  }
  footer .bottom a{
    color: #ffffff;
  }
  footer a{
    transition: all 0.3s ease;
  }
  footer a:hover{
    color: #ffffff;
  }
  @media (max-width:1100px) {
    footer .content .middle{
      padding-left: 50px;
    }
  }
  @media (max-width:950px){
    footer .content .box{
      width: 50%;
    }
    .content .right{
      margin-top: 40px;
    }
  }
  @media (max-width:560px){
    footer{
      position: relative;
    }
    footer .content .box{
      width: 100%;
      margin-top: 30px;
    }
    footer .content .middle{
      padding-left: 0;
    }
  }

  #cent{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h2 {
    float: left;
    width: 170px;
}
.popup {
  margin-top: 10px;
    float: left;
    width: 340px;
    background: #081131;
    padding: 10px;
    border-radius: 6px;
    color: #FFF;
    position: relative;
    font-size: 12px;
    line-height: 20px;
}
.popup:before {
    content: "";
    display: block;
    width: 0; 
    height: 0; 
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #081131; 
    position: absolute;
    top: 16px;
    left: -12px;
}
.send-btn{
 width: 150px;
 height: 50px;
 border:none;
 border-radius:  4px;
 background-color: #0059f7;
 font-size: 1.5rem;
 position: relative;
 box-shadow: 0 0 0 #ffffff;
 transition:  all 350ms ease-in-out;
 cursor: pointer;
}
.circle{
  position: absolute;
  width: 100px;
  height: 100px;
border-radius: 50px;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.plane-icon {
  position: absolute;
  top: 50%;
  top:50%;
  transform: translateY(-50%) rotate(-25deg);
}
.send-btn.checked{
box-shadow: 200px 0 0 #ffffff insert, 0 2px 5px rgba(0,0,0,0.3);
}

.rotateCircle{
  animation: rotate 3s ease-in-out 1;

}

.hide{
  display: none;
}
@keyframes rotate{
 
  100%{
    transform: translate(-50%,-50%) rotate(360deg);
  }
}